<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mq_showSeparatorLine</key>
	<false/>
	<key>mq_isTranslucent</key>
	<false/>
	<key>mq_backgroundColor</key>
	<string>#ffffff</string>
	<key>mq_titleNormalColor</key>
	<string>#afaaae</string>
	<key>mq_titleSelectedColor</key>
	<string>#3b87ef</string>
	<key>mq_customTitleFont</key>
	<false/>
	<key>mq_customTitleFontName</key>
	<string>Snell Roundhand</string>
	<key>mq_customTitleFontSize</key>
	<dict>
		<key>4_0</key>
		<integer>10</integer>
		<key>4_7</key>
		<integer>12</integer>
		<key>5_5</key>
		<integer>12</integer>
	</dict>
	<key>mq_barItems</key>
	<array>
		<dict>
			<key>showAsPresent</key>
			<false/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tab_tongji</string>
			<key>selectedImage</key>
			<string>tab_tongji-blue</string>
			<key>title</key>
			<string>统计</string>
		</dict>
		<dict>
			<key>showAsPresent</key>
			<false/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tab_dingdan</string>
			<key>selectedImage</key>
			<string>tab_dingdan-blue</string>
			<key>title</key>
			<string>订单</string>
		</dict>
		<dict>
			<key>showAsPresent</key>
			<true/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tab-icon-xiadan</string>
			<key>selectedImage</key>
			<string>tab-icon-xiadan</string>
			<key>title</key>
			<string>代客下单</string>
		</dict>
		<dict>
			<key>showAsPresent</key>
			<false/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tab_peixun</string>
			<key>selectedImage</key>
			<string>tab_peixun-blue</string>
			<key>title</key>
			<string>培训</string>
		</dict>
		<dict>
			<key>showAsPresent</key>
			<false/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tab_wode</string>
			<key>selectedImage</key>
			<string>tab_wode-blue</string>
			<key>title</key>
			<string>我的</string>
		</dict>
	</array>
</dict>
</plist>
